body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:  rgb(1 116 190);
    color: white;
}
.container{
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(78, 152, 199);
    box-shadow: 0 2px 4px black;
}
input[type='text']{
    padding: 10px;
    font-size: 16px;
    width: 80%;
}
button{
    margin-top: 5%;
    padding: 10px 20px;
    font-size: 16px;
    width: 20%;
    cursor: pointer;
    border-radius: 20px;
}
button:hover{
    background-color: black;
    color: white;
}
#res{
    margin-top: 20px;
    font-size: 18px;
}